*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};
.nav-buttons{
    margin-left: 60%;
}
body{
  font-family: sans-serif;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.5rem;
    font-weight: 800;
}
h4{
    font-size: 1.2rem;
    font-weight: 600;
}
h5{
    font-size: 1rem;
    font-weight: 400;
}
h6{
    color: #ffffff;
}
.navbar{
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-wrap: nowrap;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: #000;
    transition: 0.4s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i:hover{
    color: coral;
}
.navbar i{
    padding: 0 0.7px;
    font-size: 16px;
    transition: 0.4s ease;
    cursor: pointer;
}
@media only screen and (max-width:990px){
    .nav-buttons{
        margin: 9px;
    }
    .nav-buttons ul{
        
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .nav-buttons ul .fa-solid{
        margin: 20px 5px 10px 20px;
    }
}
#home{
    background-image: url('../imgs/banner.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align content to the right */
    padding: 0 20px;
}
#home div {
    text-align: left; /* Align text content inside the div to the right */
}
#home span{
    color: coral;
}
#home button{
    background-color: #000;
    color: #ffffff;
    padding: 13px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
}
#home button:hover{
    color: #ea4444;
}
#new .one img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#new .one{
    position: relative;
}
#new .one .details{
    position: absolute;
    top: 0;
    left: 0;
    color: burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.7;
    background-color: rgb(1,1,1);
    width: 100%;
    height: 100%;
}

#new .one .details:hover{
    background-color: cornsilk;
}
#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}
#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}
/* products */
.product{
    cursor: pointer;
    margin-bottom: 2rem;
}
.product img{
    transition: 0.3s all;
}
.product:hover img{
    opacity: 0.7;
}
button{
    font-size: 0.8rem;
    font-weight: 900;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;
}
button:hover{
    background-color: coral;
}
hr{
    width: 30px;
    height: 3px !important;
    opacity: 1 !important;
    background-color: goldenrod;
    margin-left: 48%;
}

.star{
    padding: 10px 0px;
    color: goldenrod;
}
.star i{
    font-size: 0.9rem;
}
#banner{
    background-image: url('../imgs/banner3.jpg');
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center; /* Align content to the right */
    align-items: center;
    
}
#banner h1{
    color:coral;
}
#banner button{
    background-color: #fb774b;
}
#banner button:hover{
    background-color: #000;
}
footer{
    background-color: #000;
}
footer h5{
    color: #D8D8D8;
    font-weight: 700;
    font-size: 1.2rem;
}
footer li{
    padding-bottom: 4px;
}
footer li a{
    color: #999;
    font-size: 0.8rem;
    text-decoration: none;
    list-style-type: none;
}
footer li a:hover{
    color: #D8D8D8;
}
footer .copyright a{
   color: #000;
   height: 40px;
   width: 40px;
   background-color: #ffffff;
   display: inline-block;
   text-align: center;
   line-height: 38px;
   border-radius: 50%;
   transition: 0.3s ease;
   margin: 0 5px;
   
}
footer .copyright a:hover{
    color: #fff;
    background-color: #fb774b;
}
footer .copyright img{
    width: 30%;
}
.logo img{
    width: 40px;
    height: 40px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.single_product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.single_product input:focus{
    outline: none;
}
.single_product .buy-btn{
    background-color: #fb774b;
    opacity: 1;
    transition: 0.4s all;
}
.single_product .buy-btn:hover{
    background-color: #e4dcd9;
}
/* Cart */
.cart table{
    width: 100%;
    border-collapse: collapse;
}
.cart .product-info{
    display: flex;
    flex-wrap: wrap;
}
.cart th{
    text-align: left;
    padding: 5px 10px;
    color: #fff;
    background-color: coral;
}
.cart td{
    padding: 10px 20px;
}
.cart td img{
    width: 90px;
    height: 90px;
    margin-right: 10px;
}
.cart td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
.cart td a{
    color: #fb774b;
   
}
.cart .remove-btn{
    color:#fff;
    text-decoration: none;
    font-size: 15px;
    background-color: #000;
    outline: none;
    width: 100%;

}
.cart .edit-btn{
    color: coral;
    text-decoration: none;
    font-size: 15px;
    background-color: #fff;
    outline: none;
}
.cart .product-info p{
    margin: 3px;
}
.cart-total{
    display: flex;
    justify-content: flex-end;
}
.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #fb774b;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.checkout-btn{
    background-color: #fb774b;
    color: #fff;
}
.checkout-container{
    display: flex;
    justify-content: flex-end;
}
/* login */
#login-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b;
}
#login-form input{
     width: 50%;
     margin: 5px auto;
}
#login-form #login-btn{
    background-color: #fb774b;
    color: #fff;
}
#login-form #register-url{
    color: #fb774b;
}
/* register */
#register-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b;
}
#register-form input{
     width: 50%;
     margin: 5px auto;
}
#register-form #register-btn{
    background-color: #fb774b;
    color: #fff;
}
#register-form #login-url{
    color: #fb774b;
}

/* account */
#account-form{
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
}
#account-form input{
    margin: 5px auto;
}
#account-form #change-password{
    color: #ffffff;
    background-color: #fb774b;
}
.account-info #order-btn, #logout-btn{
    color:coral;
    cursor: pointer;
    text-decoration: none;
}


/* oreders */
.order table{
    width: 100%;
    border-collapse: collapse;
}
.order .product-info{
    display: flex;
    flex-wrap: wrap;
}
.order th{
    color: #fff;
    background-color: #fb774b;
    padding: 5px 10px;
    /* text-align: left; */
}

.order td{
    padding: 10px 20px;
}
.order td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.order .order-details-btn{
    color: #ffffff;
    background-color: #fb774b;
}

/* checkout */
#checkout-form .checkout-small-element{
    width: 48%;
    display: inline-block;
    margin: 10px auto;
}
#checkout-form .checkout-long-address{
   width: 95%;
}
#checkout-form .checkout-btn-container{
    margin-right: 40px;
    text-align: right;
    margin: 10px;
}
#checkout-form #checkout-btn{
    color: #fff;
    background-color: #fb774b;
}
#contact span{
    color: coral;
}
.cart-quantity{
    background-color: #fb774b;
    border-radius:50% ;
    padding: 2px 5px;
    color: #fff;
    font-size: 1rem;
    margin: -5px;
}
